/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body {
    background-color: #46635D;
    font-family: sans-serif;
    color: #FDFAF6;
}

.imagen {
    border-radius: 30px;
}

.navbarColor {
    background-color: #20453F;
}

.containerIcons {
    color: #FDFAF6;
}

.containerHome {
    color: #FDFAF6;
    text-decoration: none;
}

.containerForm {
    background-color: #568786;
}

input {
    background-color: 568786;
}

.card {
    background-color: #20453F;
}

